<ion-content fullscreen class="sin-scroll">
  <!-- 6 botones grandes -->
  <div class="grid-botones">
    <div
      class="boton-grande"
      *ngFor="let item of temaSeleccionado"
      (click)="reproducirSonido(item)"
    >
      <img [src]="item.imagen" alt="imagen-boton" />
    </div>
  </div>

  <!-- Botones flotantes inferiores -->
  <div class="botones-flotantes-horizontales">
    <!-- Tema -->
    <div class="flotante-horizontal">
      <ion-button (click)="cambiarTema()">
        <img [src]="temaImagen" />
      </ion-button>
    </div>

    <!-- Idioma -->
    <div class="flotante-horizontal">
      <ion-button (click)="seleccionarIdioma()">
        <img [src]="idiomaImagen" />
      </ion-button>
    </div>

    <!-- Cerrar sesión -->
    <div class="flotante-horizontal">
      <ion-button color="danger" (click)="cerrarSesion()">
        <img src="assets/icons/logout.png" />
      </ion-button>
    </div>
  </div>
</ion-content>
